.App {
  text-align: center;
}


/** HEADER CSS **/
.App-Header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100%;
  width: 100%;

}
.App-Header h1{
  margin: .5em;
}
.App-Header image{
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
}

/** Footer CSS **/

.App-Footer{
  position: absolute;
  bottom: 0;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100px;
  width: 100%;



}
.App-Footer p{
  color: white;
  text-align: left;
  font-size: calc(10px + 2vmin);
  padding: .5em;
}

.About-Me{
  width: 100%;
}
.About-Me h2{
  color: black;
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
  text-align: left;
  padding: .25em;
  font-size: 3em;
}

.About-Me p{
  text-align: left;
  float: left;
  width: 66%;
  padding: .25em;
  margin-left: 1em;
  font-size: 2em;
}

.App-link {
  color: #61dafb;
}


